nodered/centralthing_flows.json
[{"id":"ee84f31c.1b40a","type":"tab","label":"CentralThing Welcome","disabled":false,"info":"!!!Welcome to CentralThing NodeRed!!!\n\nThe InfluxDB palette is installed. \n"},{"id":"6c2b3328.ad66cc","type":"mqtt-broker","z":"","name":"CentralThing Mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"birth","birthQos":"1","birthPayload":"CentralThing NodeRed","closeTopic":"close","closeQos":"0","closePayload":"CentralThing NodeRed","willTopic":"","willQos":"0","willPayload":""},{"id":"19be7369.50775d","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"centralthing","name":"CentralThing InfluxDB","usetls":false,"tls":""},{"id":"b4884de9.f6f4f","type":"mqtt in","z":"ee84f31c.1b40a","name":"CentralThing Mosquitto - Sub #","topic":"#","qos":"1","broker":"6c2b3328.ad66cc","x":150,"y":40,"wires":[["545283f2.c0174c"]]},{"id":"2aee9c49.e1e964","type":"debug","z":"ee84f31c.1b40a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":40,"wires":[]},{"id":"ea2d26f7.470cc8","type":"influxdb out","z":"ee84f31c.1b40a","influxdb":"19be7369.50775d","name":"CentralThing InfluxDB - Measurement demo","measurement":"demo","precision":"","retentionPolicy":"","x":830,"y":280,"wires":[]},{"id":"1fec33fb.9c77ec","type":"inject","z":"ee84f31c.1b40a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["ea2d26f7.470cc8","ac029866.f6f278"]]},{"id":"ac029866.f6f278","type":"debug","z":"ee84f31c.1b40a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":320,"wires":[]},{"id":"99353c76.6668a","type":"inject","z":"ee84f31c.1b40a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["a56cf605.370968"]]},{"id":"a56cf605.370968","type":"influxdb in","z":"ee84f31c.1b40a","influxdb":"19be7369.50775d","name":"Select * from demo","query":"select * from demo","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":400,"wires":[["4dc5959f.1dc70c"]]},{"id":"c13ecabe.ecbbc8","type":"debug","z":"ee84f31c.1b40a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":400,"wires":[]},{"id":"4dc5959f.1dc70c","type":"json","z":"ee84f31c.1b40a","name":"","property":"payload","action":"","pretty":false,"x":650,"y":400,"wires":[["c13ecabe.ecbbc8"]]},{"id":"97422f6a.11016","type":"inject","z":"ee84f31c.1b40a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["3f31bd2a.50baa2","c647ec78.7ed38"]]},{"id":"3f31bd2a.50baa2","type":"mqtt out","z":"ee84f31c.1b40a","name":"Pub testing","topic":"testing","qos":"1","retain":"","broker":"6c2b3328.ad66cc","x":920,"y":100,"wires":[]},{"id":"545283f2.c0174c","type":"json","z":"ee84f31c.1b40a","name":"","property":"payload","action":"","pretty":false,"x":650,"y":40,"wires":[["2aee9c49.e1e964"]]},{"id":"c647ec78.7ed38","type":"debug","z":"ee84f31c.1b40a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":160,"wires":[]}]